/* Uncomment after you set up TailwindCSS */
@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: "fortnite";
    src: url("/public/fortnite.otf") format("opentype");
}

.font-fortnite {
    font-family: fortnite, sans-serif !important;
}

/* Scrollbar design */
.scrollbar::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.scrollbar::-webkit-scrollbar {
    width: 6px !important;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background-color: #afafaf !important;
}
