.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flex-col-reverse{
    flex-direction: column-reverse;
}

.flex-row-reverse{
    flex-direction: row-reverse;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: flex-start;
}

.items-start{
    align-items: flex-start;
}

.items-center{
    align-items: center;
}

.justify-end{
    justify-content: flex-end;
}

.items-end{
    align-items: flex-end;
}

.grid {
    display: grid;
}

.grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-5{
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.h-screen{
    height: 100vh;
}

.col-span-3{
    grid-column: span 3 / span 3;
}

.col-span-2{
    grid-column: span 2 / span 2;
}

.rounded-2xl{
    border-radius: 1rem;
}

.order-1{
    order: 1;
}

.order-2{
    order: 2;
}

.gap-\[10\%\] {
    gap: 10%;
}